*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior:smooth;
}

/* header */
/* navbar */
nav img{
    height:100%;
    width:60px;
    margin:15px 0px;
}
#header{
    background: url("./images/banner-bg.png") no-repeat center fixed;
    height:100vh;
    background-size:cover;
}
nav{
    display: flex;
    width:88%;
    margin:auto;
}
.list{
    height:80px;
}
nav ul{
    display:flex;
    list-style: none;
    position:absolute;
    right:10%;
}
.list li a:hover{
    background-color: #80489C;
}
.list li{
    margin: 0px 28px;
    font-size:18px;
    padding: 30px 0px;
}
.list li a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.8px;
    padding:10px;   
    border-radius:7px;

}

/* home */

#home{
    width:88%;
    margin:auto;
    display:flex;
    height:85vh;
    padding-top:10%;
}
.heading-image img{
    width:100%;
    height:80%;
    padding-left:10%;
    position:relative;
    /* top:120px; */
    animation:updown 3s linear infinite;
    
}
@keyframes updown{    
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-20px);
    }
    
}
.heading-image{
    width:150%;
    height:auto;
}
.Welcome-section{
    padding-top:20px;
    color:white;
}
.Welcome-section h1{
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    font-size: 20px;
    padding: 10px 2%;
    letter-spacing: 0.8px;
    font-weight:700;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.Welcome-section h2{
    font-size:3vw;
    letter-spacing: 0.8px;
    -webkit-text-stroke: 0.1vw #383d52;
    color:transparent;
    position:relative;
}
h2::before{
    content: attr(data-text);
    position:absolute;
    left:0;
    top:0;
    width:0;
    height:100%;
    color:#C689C6;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #C689C6;
    overflow:hidden; 
    animation: animate 6s linear infinite;
    white-space: nowrap; 
}
@keyframes animate{
    0%,10%,100%{
        width:0;
    }
    70%,90%{
        width:89%;
    }
}
.Welcome-section p{
    color:#B8B8B8;
    letter-spacing: 0.8px;
    margin:10px 0px;
    line-height:1.8;
}
.Welcome-section img{
    width:20px;
    position:relative;
    top:5px;
    left:1px;
}

.Welcome-section a{
    text-decoration: none;
    background-color: transparent;
    border:none;
    color:#ffffff;
    font-weight:bold;
    cursor:pointer;
    display:hidden;
}

/* skills section */

#skills{
    /* background-color:black; */
    color:white;   
    height:75vh;
    position:relative;
    background-color:#151515;
    /* opacity:.9; */
    padding: 0 0 50px 0;

}
.skills-background-img{
    top: 20%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: 1;
}
.skills-bkg{
    overflow:hidden;  
    position:absolute;
    top:0%;
    height:75vh;
    width:100%;
}
#skills .inside{
    border-radius: 64px;
    background-color:#151515;
    width:80%;
    z-index:2;
    text-align:center;
    padding: 60px 50px;
    margin:auto;
    position:relative;
    top:-60px;
    height:inherit;
}
.skills-carousel{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-arrow{
    position:absolute;
    width:15px;
    cursor:pointer;
    height: 4rem;
    background-color: white;
    border: none;
    width: 1rem;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    border-radius:5px;
}
#slide-arrow-prev{
    top:40%;
    left:0;
}
#slide-arrow-next{
    top:40%;
    right:0;
    
}
.slide-arrow:hover {
  opacity: 1;
}
#slides-container{
    display:flex;
    height:inherit;
    width:100%;
    overflow:hidden;  
    scroll-behavior: smooth;  
}

.slide{
    display:flex;
    transition: all 0.5s;
    width:100%;
    justify-content: space-between;
    align-items: center;
}
.card{
    padding:35px;
    height:inherit;
    width:inherit;
}




